/*FONTS*/
@font-face {
    font-family: 'Pilowlava Regular';
    src: url('../fonts/Pilowlava/Fonts/webfonts/Pilowlava-Regular.woff')
  }
  @font-face {
    font-family: 'Sligoil';
    src: url('../fonts/Sligoil/fonts/web/Sligoil-Micro.woff')
  }
  
  /*ALL*/
  html, body {
      max-width: 100%;
      max-height: 100%;
      background-color: black; 
      overflow-x: hidden;
      overflow-y: hidden; 
      scroll-behavior: smooth;
  }
  *{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10pt;
    font-weight: 200;
    color: white; 
  }
  
  /*HIGHLIGHT SELECTION*/
  ::-moz-selection {
    background: none;
    color: #3171fc;
  }
  ::selection {
    background: none;
    color: #3171fc;
  }
  
  /*HEADER*/
  header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
  }
  #header {
    z-index: 100;
    margin: 10px;
    margin-top: 15px; 
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1rem);
    border-radius: 15px;
    transition: 1s;
  }
  .description {
    margin-top: -10px;
    padding-left: 30px;
  }
  #coffee {
    margin-top: -10px;
  }
  ul.navbar-header {
    z-index: 100;
    list-style-type: none;
    margin: 0;
    padding-left: 30px;
    padding-right: 20px;
  }
  .navbar-header li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
  }
  .navbar-header li.right {
    float: right;
  }
  .navbar-header li a {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-decoration: none;
  }
  .navbar-header li.right a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    transition: 0.5s;
  }
  .navbar-header li.right#active a{
    color: black;
    background-color: white;
  }
  .navbar-header li.star-circle a{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 50px;
  }
  .navbar-header li.right a:hover {
    background-color: white;
    color: black; 
  }
  .navbar-header li.right#active a:hover {
    cursor: default;
  }
  button.top-button {
    margin-top: -6px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 100px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  button.top-button:hover {
    background-color: white; 
    color: black; 
  }
  
  /*TAG SCROLL*/
  .scroll-1 {
    z-index: 1;
    overflow: hidden;
    padding: 0;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 140px;
  }
  .scroll-2 {
    z-index: 1;
    overflow: hidden;
    padding: 0;
    margin-right: 80%;
    margin-left: 30px;
    margin-top: 140px;
  }
  .tag-scroll {
    z-index: 1;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 80s infinite linear;
    animation-direction: reverse;
    margin: 0;
    display: inline-block;
  }
  .tag-scroll span {
    z-index: 1;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  /*BLOB 2*/
  .blob-2::before {
    z-index: 5;
    content: '';
    display: block;
    position: absolute;
    min-height: 320px;
    min-width: 320px;
    left: 8%;
    margin-top: 50px;
    width: 40vh;
    height: 40vh;
    background-color: var(--blob);
    box-shadow: var(--shades);
    background-size: 1600% 1600%;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
    filter: blur(40px);
    animation:
        transform 50s ease-in-out infinite both alternate,
        movement 40s ease-in-out infinite both;
    }
    @keyframes transform {
        0%,
    100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
    }
    @keyframes movement {
        0%,
    100% { transform: none; }
    50% { transform: translateY(5%) rotateY(10deg); }
    }
    :root {
    --background: #fff;
    --blob: #728ef3;
    --shades: inset 10px 0 40px #e8eaf1,
                inset -10px 0 20px #eb82f4,
                inset -40px 10px 100px #ffffff;
    
    @media (prefers-color-scheme: dark) {
        --background: #0f0c24;
        --blob: #bca5e3;
        --shades: inset 10px 0 40px #a174db,
                inset -10px 0 20px #40245e,
                inset -40px 10px 110px #1b1648;
    }
    }
    @use postcss-preset-env {
    stage: 0;
    autoprefixer: {
        grid: true;
    }
    browsers: [
        "last 1 Chrome versions",
        "last 1 Firefox versions",
        "last 1 Safari versions",
        "last 1 Edge versions"
    ]
    }

  /*SECOND SMILEY*/
  .badge-2 {
    z-index: 10;
    position: absolute;
    --badge-size: 260px;
    --badge-color: var(--black);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    left: 10%;
    margin-right: 40px;
    margin-top: -70px;
  
    width: var(--badge-size);
    height: var(--badge-size);
  
    background: var(--black);
    border-radius: 100%;
    box-shadow: inset 0 0 0 0.9rem var(--badge-color);
    animation: identifier 30s linear infinite;
    cursor: grabbing;
  }
  .badge__emoji {
    position: relative;
    display: inline-block;
    margin: 0;
    animation: identifier 30s linear infinite;
    animation-direction: reverse;
    transition: all 0.3s;
  }
  .badge__emoji .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .badge__emoji:hover .img-top {
    display: inline;
  }
  .badge__emoji:hover .img-bottom {
    opacity: 0;
  }
  .badge__char-2 {
    --char-font-weight: 300;
    --char-font-size: 0.8em;
    --char-width: 10px;
    --char-font-family: "Roboto Mono", Monospace;
  
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - var(--char-width) / 2);
    height: calc(var(--badge-size) / 2);
    width: var(--char-width);
    background-repeat: round;
    text-align: center;
    text-transform: uppercase;
    line-height: 1rem;
  
    font-weight: var(--char-font-weight);
    font-size: var(--char-font-size);
    color: var(--white);
    font-family: var(--char-font-family);
    transform-origin: bottom center;
    transform: rotate(var(--char-rotate-2));
  }
  @-webkit-keyframes identifier {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }
  @keyframes identifier {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }
  .menu-move-2{
    display: inline-block;
    width: 340px;
    transition: .3s;
    position: absolute;
    left: 6%;
    z-index: 100;
  }
  .circle-move-2{
    width: 390px;
    height: 200px;
    position: absolute;
    margin-top: 160px;
    z-index: 4;
  }
  
  /*FOOTER*/
  footer {
    margin-bottom: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  footer p {
    text-align: right;
    margin: 0;
  }
  footer p.with {
    margin-top: -13px;
  }
  .footer {
    float: right;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1rem);
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 18px;
  }
  
  /*CONTACT MODAL*/
  #mydiv.modal-content {
    height: fit-content;
  }
  .modal {
    z-index: 1000;
    display: none;
    position: fixed;
    padding-top: 200px;
    padding-left: 35%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
  }
  .modal-content {
    z-index: 1000;
    position: absolute;
    width: 400px;
    height: 1000px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);
  }
  .modal-header {
    cursor: grab;
    z-index: 1000;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1rem);
    border-radius: 10px 10px 0px 0px;
  }
  .modal-header:active {
    cursor: grabbing;
  }
  .modal-body {
    background-color: white;
    padding: 20px;
  }
  .modal-body p {
    margin: 0;
  }
  .close {
    height: 15px;
    width: 15px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 50%;
    display: inline-block;
  }
  .close:hover,
  .close:focus {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 1);
  }
  #my-form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
  }
  #my-form label {
  
  }
  #my-form input {
  
  }
  #my-form input:focus {
    outline: none;
  }
  #my-form-button {
    float: right;
  }
  
  /*PROJECTS*/
  .project-polaroids {
    float: left;
    width: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
  }
  .p-polaroid {
    margin-top: 35px;
    margin-bottom: 80px;
    float: left;
    margin-right: 5%;
  }
  .p-polaroid#invisible {
    visibility: hidden;
  }
  .p-polaroid {
    position: relative;
  }
  .p-polaroid p {
    position: absolute;
    top: 320px;
    left: 30px;
    color: black; 
  }
  #polaroids {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none; /* Hide the scrollbar for MS Edge */
    scrollbar-width: none; /* Hide the scrollbar for Mozilla Firefox */
  
    margin: 0 auto 0 auto;
    width: 100%;
    height: fit-content;
    white-space: nowrap;
  }
  #polaroids::-webkit-scrollbar {
    display: none; /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
    -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
  }
  .item#first {
    margin-left: 200px;
  }
  .item {
    margin-right: 5%;
  }
  .directions {
    position: absolute; 
    margin-left: 30px; 
    bottom: 50px; 
  }

  /*RESIZING*/
  @media only screen and (max-width: 1220px) {
    .polaroid-grouped {
      display: none;
    }
    .about-me-description{
      width: 100%;
    }
    .modal {
      padding-left: 25%;
    }
  }
  @media only screen and (max-width: 550px) {
    .polaroid-grouped {
      display: none;
    }
    .about-me-description{
      width: 100%;
    }
    .disco-1 {
      display: none;
    }
    .disco-2 {
      display: none;
    }
    .links p{
      background-color: #FBF719;
    }
    .modal {
      padding-left: 10%;
    }
  }
  @media only screen and (max-width: 1450px) {
    .p-polaroid {
      margin-right: 4%;
    }
  }
  @media only screen and (max-width: 1420px) {
    .p-polaroid {
      margin-right: 3%;
    }
  }
  @media only screen and (max-width: 1400px) {
    .p-polaroid {
      margin-right: 2%;
    }
  }
  
 
  
  
  